      <form ng-submit="posts.addPost()" id="newPost">
        <div>
          <label for="newPost-url">URL</label>
          <input type="text" id="newPost-url" ng-model="posts.newPost.url" placeholder="http://....">
        </div>
        <div>
          <label for="newPost-title">Title</label>
          <input type="text" id="newPost-title" ng-model="posts.newPost.title" placeholder="Put a title to this post">
        </div>
        <div>
          <label for="newPost-description">Description</label>
          <textarea type="text" id="newPost-description" class="height-150px" ng-model="posts.newPost.description" placeholder="Put a description, a short paragraph about the content of this post">
          </textarea>
        </div>
        <div>
          <label for="newPost-author">Author</label>
          <input type="text" id="newPost-author" ng-model="posts.newPost.author" placeholder="Sign it / mock your Id">
        </div>
        <div>
          <label for="newPost-pic">Picture</label>
          <input type="text" id="newPost-pic" ng-model="posts.newPost.pic" placeholder="Url to a picture if there is one...">
        </div>
        <div>
          <input type="submit" value="Add Post">
        </div>
      </form>