body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #eee;
  margin: 0 auto;
  color: black;
  position: absolute;
}
header {
  color: white;
  background-color: #4e555d;
  margin-bottom: 10px;
  position: relative;
  padding: 0 20px;
  z-index: 100;
  height: 60px;
}
footer {
  height: 80px;
}
h1 {
  font-size: 1em;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul#posts-data {
  display: inline;
}
ul#posts-data a {
  padding: 0;
  margin: 0;
}
ul#posts-data li {
  margin: 0 0 0 10px;
}

ul#posts li em {
/*  margin-left: 0.382rem;
  opacity: 0.5;*/
}

ul#posts li button.delete {
/*  margin-left: 0.618rem;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 100px;
  background: white;
  color: rgba(0,0,0,0.18);
  cursor: pointer;*/
}
ul#posts li button.delete:hover {
/*  border-color: grey;
  color: grey;*/
}

span.status {
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: black;
  color: white;
  padding: 0.1em 0.618em 0.1618em;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 0.618em;
}

span.status.dead {
  background: red;
}
span.status.alive {
  background: green;
}

form#newPost {
  border: 2px solid black;
  border-radius: 4px;
  padding: 1.8rem 1rem 0.618rem;
  max-width: 300px;
  margin-top: 2.4rem;
  background-color: black;
}

form#newPost div {
  margin-bottom: 0.618rem;
}

form#newPost label {
  width: 4.8rem;
  text-align: right;
  display: inline-block;
  margin-right: 0.192rem;
  font-size: 0.8rem;
  font-weight: bold;
}

form#newPost input[type=text] {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
  min-width: 60%;
  border: 1px solid rgba(0,0,0,0.14);
  padding: 0.368em;
}

form#newPost input[type=submit] {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.14);
  background: white;
  border-radius: 4px;
  margin: 2rem auto 0;
  padding: 1rem;
  background: rgba(0,0,0,0.04);
  background: linear-gradient(white, rgba(0,0,0,0.04));
  box-shadow: 0px 3px 4px rgba(0,0,0,0.04);
  cursor: pointer;
  color: rgba(0,0,0,0.7);
  font-weight: 600;
  text-shadow: 0px 1px 0px white;
}

form#newPost input[type=submit]:hover {
  color: black;
  background: white;
}

form#newPost input[type=submit]:focus {
  box-shadow: none;
  outline: none;
}

.image-50xauto {
  height: 50px;
}
a {
  margin: 5px 0 0 10px;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  font: 1rem bold 'arial';
}
.active {
  color: black;
  background-color: white;
}
.post {
  padding: 10px 0px 10px 10px;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7eff2;
/*  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;*/
  position: relative;
  width: 100%;
  background: white;
}
.border-show {
  border: 1px solid black;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.center {
  text-align: center;
  vertical-align: middle;
}
.header-logo {
  position: absolute;
  display: block;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  vertical-align: middle;
  line-height: 1em;
}
.header-tagline {
  vertical-align: baseline;
}
.inline {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: inline-flex;
}
.show-sub-menu {
  position: absolute;
  top: 40%;
}
#sub-menu {
  background-color: #e7eff2;
  width: 120px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  z-index: 1000;
}
#sub-menu li {
  padding: 10px 0;
}
.height60 {
  height: 60px;
}




