body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #eee;
  margin: 0 auto;
  color: black;
}
header {
  color: white;
  background-color: #4e555d;
  margin-bottom: 10px;
  position: relative;
  padding: 0 20px;
  z-index: 100;
  height: 60px;
}
footer {
  height: 80px;
}
h1 {
  font-size: 1em;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul#posts-data {
  display: inline;
}
ul#posts-data a {
  padding: 0;
  margin: 0;
}
ul#posts-data li {
  margin: 0 0 0 10px;
}

ul#posts li em {
/*  margin-left: 0.382em;
  opacity: 0.5;*/
}

ul#posts li button.delete {
/*  margin-left: 0.618em;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 100px;
  background: white;
  color: rgba(0,0,0,0.18);
  cursor: pointer;*/
}
ul#posts li button.delete:hover {
/*  border-color: grey;
  color: grey;*/
}

/* Form for adding a new post */
/*******************************/
form#newPost {
  border: 2px solid rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 1.8em 1em;
  margin-top: 2.4em;
}

form#newPost div {
  margin-bottom: 0.5em;
}
form#newPost label {
  width: 4.8em;
  text-align: right;
  display: inline-block;
  margin-right: 1em;
  font-size: 1em;
  font-weight: bold;
}

form#newPost input[type=text], form#newPost textarea[type=text] {
  font-size: 1em;
  display: inline-block;
  min-width: 85%;
  border: 1px solid rgba(0,0,0,0.14);
  padding: 0.4em;
}

form#newPost input[type=submit] {
  display: block;
  width: 20%;
  border: 1px solid rgba(0,0,0,0.14);
  background: white;
  border-radius: 4px;
  margin: 2em auto 0;
  padding: 1em;
  background: rgba(0,0,0,0.04);
  box-shadow: 0px 3px 4px rgba(0,0,0,0.04);
  cursor: pointer;
  color: rgba(0,0,0,0.7);
  font-weight: 600;
  text-shadow: 0px 1px 0px white;
}

form#newPost input[type=submit]:hover {
  color: black;
  background: white;
}

form#newPost input[type=submit]:focus {
  box-shadow: none;
  outline: none;
}
.height-150px {
  height: 150px;
  vertical-align: text-top;
}





/* Header                        */
/*********************************/
.image-50xauto {
  height: 50px;
}
a {
  text-decoration: none;
  color: inherit;
}
.active {
  color: black;
  background-color: white;
}
.post {
  padding: 10px 0px 10px 10px;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7eff2;
  position: relative;
  width: 100%;
  background: white;
}
.border-show {
  border-bottom: 1px solid #e7eff2;
}
.center {
  text-align: center;
  vertical-align: middle;
}
.header-logo {
  position: absolute;
  display: block;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  vertical-align: middle;
  line-height: 1em;
}
.header-tagline {
  vertical-align: baseline;
}
.inline {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: inline-flex;
}

/* Show submenu hidden in top nav*/
/*********************************/
.show-sub-menu {
  position: absolute;
  top: 30%;
}
.show {
  display: block;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.hide {
  display: none;
  animation-name: fadeOut;
  animation-duration: 1s;
}
#sub-menu {
  background-color: #e7eff2;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 4px;
  width: 120px;
  padding: 10px;
  z-index: 1000;
}
#sub-menu li {
  padding: 10px 0;
  text-align: left;
}
#sub-menu li a {
  color: black;
  text-decoration: none;
}
.height60 {
  height: 30px;
  width: 100px;
}
.bar {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}







/* Input for search in the view */
/*******************************/
.search-input {
  position: absolute;
  top: 30%;
  background-color: rgba(255,255,255,0.1);
  color: black;
  border-radius: 25px;
  border-width: 100%;
  font-size: inherit;
  width: 90px;
  height: 20px;
  padding-left: 5px
}
.search-input:focus {
  background-color: white;
  width: 120px;
}



